In [7]:

from IPython.core.display import HTML
css_file ='style.css'

### Import Multiple CSV file

In [3]:
import os
import glob
import pandas as pd
import numpy as np
file_path = "C:/Users/Fernando Gutierrez/Desktop/test"
read_files = glob.glob(os.path.join(file_path, "*.csv")) 
                       
np_array_values = []
for files in read_files:
    data_load = pd.read_csv(files, header = 0)
    np_array_values.append(data_load)                   
    print(files)   
merge_values = np.vstack(np_array_values)
data_loaded = pd.DataFrame(merge_values)
data_loaded.columns=['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
data_loaded

C:/Users/Fernando Gutierrez/Desktop/test\Book1.csv
C:/Users/Fernando Gutierrez/Desktop/test\BOOK2.csv

   one  two  three  four  five  six  seven  eight  nine  ten
0    1    2      2     2     2    2      2      2     2    2
1    1    3      3     3     3    3      3      3     3    3
2    1    4      4     4     4    4      4      4     4    4
3    1    5      5     5     5    5      5      5     5    5
4    1    6      6     6     6    6      6      6     6    6
5    2    7      7     7     7    7      7      7     7    7
6    2    8      8     8     8    8      8      8     8    8
7    2    9      9     9     9    9      9      9     9    9
8    2   10     10    10    10   10     10     10    10   10
9    2   11     11    11    11   11     11     11    11   11